
@model SoftwareProject.Models.EntityFramework.Patient
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="box">
    @ViewBag.Message
    @ViewBag.Message2
    <form method="post" action="">
        <input type="text" name="Email" placeholder="Username">
        <input type="password" name="Password" placeholder="Password">
        <button type="submit">Login</button>
        <input type="button" onclick="window.location.href='/Security/SignUp'" name="" value="Sign Up">
    </form>

</div>

