<!DOCTYPE html>

<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body background= "../images/original.png"> 
    <header>

        <img class="logo" src="~/images/Logo.png" alt="logo">
        <nav>

            <ul class="nav__links">

                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/AboutUs">About Us</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
                

            </ul>


        </nav>
        <a class="login" href="/Home/Login">
            <img src="~/images/Login_button.png" />
        </a>
    </header>

    @RenderBody()

</body>
</html>
