@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    
 
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-weight:500;
    font-size:24px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    
}


.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
  .nav__links li a {
        transition: all 0.3s ease 0s;
    }
  .nav__links li a:hover {
      color: #ffffff
  }
.bottom-menu {
    margin-top: 230px;
    margin-left: 700px;
    
}

