
<link href="~/css/StyleSheet1.css" rel="stylesheet" />


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    
    <div class="bottom-menu">

        <a href="#"><img src="~/images/Symptom_button.png" style="margin-right:100px" /> </a>
        <a href="#"><img src="~/images/Live_support_button.png" style="margin-right:100px" /> </a>
        <img src="~/images/dr&patient.png" style="margin-bottom:120px"/>
</div>
    
    
</body>
</html>
