
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Login.css" rel="stylesheet" />
<div style="width: 600px; margin-left:770px; color:#ffffff; font-size:20px;">


    <form class="box"   method="post">

        <h1>Login</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="button" name="" value="Login">
        <input type="button" onclick="window.location.href='/Home/SignUp'" name="" value="Sign Up">

    </form>



    </div>
