
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/SignUp.css" rel="stylesheet" />

<div style="width: 600px; margin-left:770px; color:#ffffff; font-size:20px;">


    <form class="box"   method="post">

        
        <input type="text" name="" placeholder="Firstname">
        <input type="text" name="" placeholder="Lastname">
        <input type="password" name="" placeholder="Password1">
        <input type="password" name="" placeholder="Password2">
        <input type="text" name="" placeholder="Mail Adress">
        <input type="button" name="" value="Sign Up">

    </form>



</div>


